[submodule "setup"]
	path = setup
	url = https://github.com/QuickBox/quickbox_setup/commit/b57a7f5d1d95df63b0412b3f64b3dc14c164ac23
	branch = master
[submodule "dashboard"]
	path = dashboard
	url = https://github.com/QuickBox/quickbox_dashboard.git
	branch = master
[submodule "rutorrent"]
	path = rutorrent
	url = https://github.com/QuickBox/quickbox_rutorrent.git
	branch = master
[submodule "packages"]
	path = packages
	url = https://github.com/QuickBox/quickbox_packages.git
	branch = master
[submodule "rtplugins"]
	path = rtplugins
	url = https://github.com/QuickBox/quickbox_rutorrent-plugins.git
	branch = master
	[submodule "rttheme"]
		path = rttheme
		url = https://github.com/QuickBox/club-QuickBox.git
		branch = master
